<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
		<title>Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/static/homestyle/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/homestyle/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/assets/css/form-elements.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="/static/assets/css/error.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{ url_for('static',filename='assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body background="/static/homestyle/img/header.jpg" style = "background-repeat:no-repeat; background-size:cover;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
					{% if request.user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
					{% endif%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/aboutus">About Us</a>
                            <a class="dropdown-item" href="/mission">Our Mission</a>
                            <a class="dropdown-item" href="/faq">FAQ</a>
                        </div>
                    </li>
					{% if request.user.is_authenticated%}
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">UserID</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <a class="dropdown-item" href="/settings">Settings</a>
                                <a class="dropdown-item" href="/logout_view">Log Out</a>
                            </div>
                        </li> {% endif %}
                </ul>
            </div>
        </div>
    </nav>
        
    <!-- Top content -->
        <div class="top-content">
        	<div class="container" style="padding-top:10%;align-items:center;width:auto;margin:auto;">	
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2 text" style="margin-left:auto;margin-right: auto">
                        <h1>Login</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1 show-forms" style ="margin: auto">
                    	<span class="show-register-form"><a style="color:#fff" href="/signup">Register</a></span> 
                    	<span class="show-forms-divider">/</span> 
                    	<span class="show-login-form active">Login</span>
                    </div>
                </div>
                <div class ="row">
                    <div class="col-sm-5 col-sm-offset-1" style ="margin: auto">
                        {% if form.errors %}
						<p>Your username and password didn't match. Please try again.</p>
						{% endif %}

						{% if next %}
							{% if user.is_authenticated %}
							<p>Your account doesn't have access to this page. To proceed,
							please login with an account that has access.</p>
							{% else %}
							<p>Please login to see this page.</p>
							{% endif %}
						{% endif %}
						<form role="form" action="{% url 'login' %}" method="post" class="l-form">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
	                    	<div class="form-group" style="padding-top:5%">
								<div style="background-color:#fff">{{ form.username.errors }}</div>
                                <label class="sr-only" for="l-form-username">{{ form.username.label_tag }}</label>
	                        	<input type="text" name="username" placeholder="Username..." class="l-form-username form-control" id="l-form-username">
	                        </div>
	                        <div class="form-group">
                                <div style="background-color:#fff">{{ form.password.errors }}</div>
                                <label class="sr-only" for="l-form-password">{{ form.password.label_tag }}</label>
	                        	<input type="password" name="password" placeholder="Password..." class="l-form-password form-control" id="l-form-password">
	                        </div>
							<input type="hidden" name="next" value="{{ next }}" />
				            <button type="submit" class="btn"><a style="color:#fff">Sign in!</a></button>
                        </form>
                	</div>
                </div>
                </div>
           </div>
        </div>

        <!-- Footer -->
        <!--<footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by <a href="http://azmind.com" target="_blank">AZMIND</a>.</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>-->

        <!-- Javascript -->
        <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <!--<script src="/static/assets/js/jquery.backstretch.min.js"></script>-->
        <script src="/static/assets/js/scripts.js"></script>
        <script src="/static/home2/vendor/jquery/jquery.min.js"></script>
		<script src="/static/home2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>