<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo.png">
    <title>Meet the Titans!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/aboutus/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/aboutus/css/round-about.css" rel="stylesheet">

  </head>

  <body background = "/static/home2/city3.jpg" style = "background-repeat:no-repeat; background-size:cover;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/static/home2/TITANTrading_1.png" width="125" height="45" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">UserID</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4" style="color:#fff">About Us
      </h1>
      <p style="color:#fff">Titan Trading was first founded in January 1, 2018 by a group of nine passionate software engineering students. Each founder had a strong interest in stock and cryptocurrency, but wanted to create a platform that they could gain experience.</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4" style="color:#fff">The Titans</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="static/aboutus/img/steve.jpg" alt="">
          <h3 style="color:#fff">Steven Adler
          </h3>
          <p style="color:#fff">Steven is a Professional Amateur Falco and Captain Falcon main in Super Smash Bros. melee. Although he has advanced tech-skill, he often does not have the proper controller to perform it.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="static/aboutus/img/kristene.jpg" alt="">
          <h3 style="color:#fff">Kristene Aguinaldo
          </h3>
          <p style="color:#fff">Aside from being an ECE student, Kristene is a Rutgers SoE Ambassador, a MatLab learning assistant, and an undergraduate researcher in the field of deep learning.  </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/aboutus/img/tim.jpg" alt="">
          <h3 style="color:#fff">Timothy Liu
          </h3>
          <p style="color:#fff">Timothy Liu is know for his good looks and impeccable spelling. To this day he has never spelt a single word incorrectly. He is also known for NOT being a weeb. </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/aboutus/img/nick.jpg" alt="">
          <h3 style="color:#fff">Nick "Brock" Lurski
          </h3>
          <p style="color:#fff">Nick Lurski is know as Brock Lurski due to their stunningly similiar appearances. His hobbies include watching Animu and reading Mango. His favorite classes are Algorithms and Computer Systems.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/aboutus/img/avanish.jpg" alt="">
          <h3 style="color:#fff">Avanish Mishra
          </h3>
          <p style="color:#fff">Rutgers ECE '19</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="https://www.linkedin.com/in/safa-shaikh-4046a3b3/"><img class="rounded-circle img-fluid d-block mx-auto" src="/static/aboutus/img/safa.jpg" alt="">
          <h3 style="color:#fff">Safa Shaikh
          </h3></a>
          <p style="color:#fff">Safa Shaikh is interested in software development and intends to work in industry as a software engineer. Safa is an avid Marvel and DC Comics fan and an aspiring henna tattoo artist. </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/aboutus/img/brooks.jpg" alt="">
          <h3 style="color:#fff">Brooks Tawil
          </h3>
          <p style="color:#fff">Brooks Tawil is the Rush Chair for professional and exclusive Co-ed fraternity Theta Tau. His intelligence and expertise in trading was motivation for Titan Trading's creation. </p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="static/aboutus/img/kristian.jpg" alt="">
          <h3 style="color:#fff">Kristian Wu
          </h3>
          <p style="color:#fff">Kristian is the President of the Rutgers chapter of the Institute of Electrical and Electronics Engineers (IEEE) and a tutor for the School of Engineering.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/static/aboutus/img/david.jpg" alt="">
          <h3 style="color:#fff">David "Potato" Zhang
          </h3>
          <p style="color:#fff">Me David, Me Potato.</p>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/aboutus/vendor/jquery/jquery.min.js"></script>
    <script src="/static/aboutus/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
