<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>Elmer's Page</title>

  <!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="/static/profile/css/profile.css" rel="stylesheet">

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/home2/city5.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">

  <!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/mission">Our Mission</a>
                <a class="dropdown-item" href="/faq">FAQ</a>
                <a class="dropdown-item" href="/beginners">Beginners Guide</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Elmer, the AI</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	<br><br><br>

	<!-- Page Content -->
	<div class="container">
	<div class="row">
				<div class="col-md-12 text-center ">
					<div class="panel panel-default">
						<div class="userprofile social ">
							<div class="userpic"> <img src="\static\profile\img\USERID_profilepic.png" alt="" class="userpicimg"> </div>
							<!--<h1 class="username">Elmer, the AI</h1>-->
              <!-- Add icon library -->
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <link rel="stylesheet" href="\static\aipage\stuff.css">

              <div class="card">

                <h1>Elmer, the AI</h1>
                <p class="title">Artificial Intelligence / Investment Enthusiast</p>
                <p>Rutgers University</p>
                <!--<a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>-->
              </div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<!-- /.col-md-12 -->
				<div class="col-md-5 col-sm-12 pull-right background-filler">
					<br>
					<div class="panel panel-default">

							<div class="row">
                <div class="card text-white bg-dark mb-3 text-center" style="width:100%;">
                  <h4>Buying Power: {{buyingPower}}</h4>
                  <h4>Total Worth: {{cumWorth}}</h4>
                </div>
								<!--<div class="col-sm-3 col-xs-3"><img src="http://via.placeholder.com/250x250" class="" alt=""> </div>
								<div class="col-sm-3 col-xs-3"><img src="http://via.placeholder.com/250x250" class="" alt=""> </div>
								<div class="col-sm-3 col-xs-3"><img src="http://via.placeholder.com/250x250" class="" alt=""> </div>
								<div class="col-sm-3 col-xs-3"><img src="http://via.placeholder.com/250x250" class="" alt=""> </div>-->
							</div>

						<div class="clearfix"></div>
					</div>
          <div class = "panel panel-default">
            {%if diff == 1%} <!--easy-->
            <ul class="list-group">
              <li class="list-group-item"><span class="fa fa-male"></span>
                Welcome to my page! My name is Elmer, and
                I am an easy artificial intelligence.
                I will make the easiest decision.</li>
              <li class="list-group-item"><span class="fa fa-institution"></span> Selected buying index: {{easyBuyIndex}}</li>
            </ul>
            {%endif%}

            {%if diff == 2%}
            <ul class="list-group">
              <li class="list-group-item"><span class="fa fa-male"></span>
                 Welcome to my page! My name is Elmer, and
                 I am a medium-level artificial intelligence. I use machine learning to analyze monthly stock market trends
                 to determine what stock is increasing at the moment. You can my stats for my most recent transaction below.
               </li>
               <h1>My most recent transaction stats </h1>
              <li class="list-group-item"><span class="fa fa-institution"></span> Slope of line: {{medWeight}}</li>
              <li class="list-group-item"><span class="fa fa-institution"></span> Average model loss: {{medLoss}}</li>
            </ul>
            {%endif%}

            {%if diff == 3%}
            <ul class="list-group">
              <li class="list-group-item"><span class="fa fa-male"></span>
                 Welcome to my page! My name is Elmer, and
                 I am a hard-level artificial intelligence. I use machine learning to analyze monthly stock market trends
                 to determine what stock is increasing at the moment. In addition to monthly trends,
                 I can read Tweets and news articles from across the Internet to determine if there
                 has been positive or negative publicity for it! You can check out my stats for my most recent transaction below.
               </li>
               <h2>My most recent transaction stats </h2>
               <h3>Five positive tweets</h3>
               {%if ptweets != 'None'%}
               {%for tweet in ptweets%}
                      <li class="list-group-item"><span class="fa fa-twitter"></span>{{tweet.text}}</li>
               {%endfor%}
               {%endif%}
               <h3>Five negative tweets</h3>
               {%if ntweets != 'None'%}
               {%for tweet in ntweets%}
                      <li class="list-group-item"><span class="fa fa-twitter"></span>{{tweet.text}}</li>
               {%endfor%}
               {%endif%}
               <h3>Five positive news </h3>
               {%if pnews != 'None'%}
               {%for article in pnews%}
                      <li class="list-group-item"><span class="fa fa-newspaper-o"></span><a href = {{article.url}}>{{article.title}}</a></li>
               {%endfor%}
               {%endif%}
               <h3>Five negative news </h3>
               {%if nnews != 'None'%}
               {%for article in pnews%}
                      <li class="list-group-item"><span class="fa fa-newspaper-o"></span><a href = {{article.url}}>{{article.title}}</a></li>
               {%endfor%}
               {%endif%}

            </ul>
            {%endif%}


          </div>
					<div class="panel panel-default">
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 pull-left posttimeline background-filler">
					<br>
					<div class="panel panel-default">
						<div class="col-md-12">

              <!-- TradingView Widget BEGIN -->
              <div class="tradingview-widget-container">
                <div id="tradingview_50274"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL chart</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                new TradingView.widget(
                {
                "width": 500,
                "height": 500,
                "symbol": "NASDAQ:AAPL",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "Light",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_50274"
              }
                );
                </script>
              </div>
              <!-- TradingView Widget END -->

              <!-- Styles -->
							<div class="media">
                  <div class = "row">
                <caption>Elmer's Transactions</caption>
                <table style="width:100%" class="table table-striped">
                  <tr>
                    <th>Asset Name</th>
                    <th>Number of Shares</th>
                    <!--<th>Buy or sell</th>-->
                  </tr>
                  {% for t in transactions%}
                    <tr>
                      <td>{{t.ticker}}</td>
                      <td>{{t.shares}}</td>
                      <!--<td>{{t.isBuy}}</td>-->
                    </tr>
                {% endfor %}
              </div>

						</div>
          <div class = "row">
              <caption>Elmer's Assets</caption>
          </table>
            <table style="width:100%" class="table table-striped">
              <tr>
                <th>Asset Name</th>
                <th>Number of Shares</th>
                <th>Buying Price</th>
              </tr>
              {% for a in assets%}
                <tr>
                  <td>{{a.ticker}}</td>
                  <td>{{a.shares}}</td>
                  <td>{{a.buyingPrice}}</td>
                </tr>
            {% endfor %}
            </table>
          </div>
					</div>
				</div>
			</div>
	</div>
	</div>


</body>

</html>
