<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
    <title>Titan Trading</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="/static/homestyle/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/homestyle/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/static/homestyle/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/homestyle/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/aboutus">About Us</a>
                <a class="dropdown-item" href="/mission">Our Mission</a>
                <a class="dropdown-item" href="/faq">FAQ</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">UserID</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text">
              <strong>Error. You must be signed in to view this page.</strong>
            </h1>
          </div>
          <div class="col-lg-8 mx-auto">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/signup">Sign In Here.</a>
          </div>
        </div>
      </div>
    </header>


    <!-- Bootstrap core JavaScript -->
    <script src="/static/homestyle/vendor/jquery/jquery.min.js"></script>
    <script src="/static/homestyle/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin Ja  vaScript -->
    <script src="/static/homestyle/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/homestyle/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/static/homestyle/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/homestyle/js/creative.min.js"></script>

  </body>

</html>
