<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>Buy Stock</title>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="/static/createleague/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/home2/css/titan-trading.css">  

  <link rel="stylesheet" href="/static/createleague/css/wireframe.css"> 
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  
  </head>

<body class="bg-dark " style=" text-align: left; background-image: url('/static/home2/wallstreetbull.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
<div class="background-shade"> 
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/aboutus">About Us</a>
                <a class="dropdown-item" href="/mission">Our Mission</a>
                <a class="dropdown-item" href="/faq">FAQ</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <a class="dropdown-item" href="/settings">Settings</a>
                  <a class="dropdown-item" href="/logout_view">Log Out</a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="py-5 filter-light">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12 my-3">
          <img src="/static/home2/titanhead_logo_trans.png" class="mx-auto" height="65">
          <h2><b>Buy Stock</b></h2>
          <p class="lead">Buy your selected stock here.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2">
          <h4 class="d-flex justify-content-between mb-3"> <span class="text-muted"><b>Your cart</b></span> <span class="badge badge-secondary badge-pill">3</span> </h4>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              <div>
                <h6 class="my-0"><b>Stock ticker</b></h6> <small class="text-muted">(number)</small></div> <span class="text-muted">$12</span> </li>

            <li class="list-group-item d-flex justify-content-between"> <span>Total (USD)</span> <b>$20</b> </li>
          </ul>
          

        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3"><b>Transaction Information</b></h4>
		  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
          <form class="needs-validation" role="form" action="/buy/{{league.id}}/{{player.id}}/" method="post" class="r-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-3"> 
              <h5 class = "mb-3"><b>Stock Ticker</b></h5>
              <label for = "ticker">{{ form.ticker.label_tag }}</label>
              {{ form.ticker.errors }}
              <input name = "ticker" type="text" class="form-control"  placeholder="example: GOOGL" required="" id="ticker">
              <div class="invalid-feedback"> Please enter a valid ticker symbol. </div>
            </div>

            <div class="mb-3"> 
              <h5 class = "mb-3"><b>Number of Shares</b></h5>
              <label for="shares" >{{ form.shares.label_tag }}</label>
              {{ form.shares.errors }}
              <input name = "shares" type="number" class="form-control"  min="0" placeholder="0" id="numshares"> 
              </div>

            <div class="custom-control custom-checkbox">
              {{ form.isBuy.errors }}
              <input name = "isCrypto" type="checkbox" class="custom-control-input" value="off" id="isCrypto"> <label class="custom-control-label" for="isCrypto">Crypto Order</label> 
              </div>

            <div class="mb-3"> <label for="limit">Limit Price</label>
              <div class="input-group"> <span class="input-group-text">$</span>
              {{ form.buyingPrice.errors }}
              <input name = "buyingPrice" type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency text-right" placeholder="0.00"  id="limit"> 
              </div>

              <div class="invalid-feedback"> Please enter a limit price. </div>

              <hr class="mb-4"> 
              <button class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Confirm purchase</button>

              <!-- Modal -->
              <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmModal">Transaction Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div>

                              </div>
                            </div>



                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                      <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>

  <!-- Footer -->
	<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-1">
          <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="/home">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="/faq">FAQ</a>
              </li>
              <li class="list-inline-item">
                <a href="/aboutus">About Us</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
  </div>
</body>

</html>