<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- PAGE settings -->
    <link rel="icon" href="/static/home2/titanhead_logo_trans.png">
    <link rel="stylesheet" href="/static/home2/css/titan-trading.css">
    <title>League Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/league.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/createleague/css/wireframe.css">


    <!-- Custom styles for this template -->
    <link href="/static/dashboard/css/2-col-portfolio.css" rel="stylesheet">

    <link href="/static/dashboard2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dashboard2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/dashboard2/vendor/morrisjs/morris.css" rel="stylesheet">
     <!-- Custom Fonts -->
    <link href="/static/dashboard2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->

    <!--<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"> -->
    <!--<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
  </head>

<!--  <body style = "background-color: rgba(169,225,236,0.5); background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">-->
<body background = "/static/home2/city7.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
  <div ><!--class="background-shade"-->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/aboutus">About Us</a>
                <a class="dropdown-item" href="/mission">Our Mission</a>
                <a class="dropdown-item" href="/faq">FAQ</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <a class="dropdown-item" href="/settings">Settings</a>
                  <a class="dropdown-item" href="/logout_view">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4 dashboard-title text-light">League Dashboard
      </h1>
	  <div class = "row ">
		</div>
      <div class="row">
        {% for L in players%}
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div style="width:100%;text-align:center;">
              <h2 style="font-size:1.6em;text-overflow:ellipsis;line-height:1.8rem;margin:0.1rem 0 0;overflow:hidden;z-index:1; position:relative;"><b><a href="/leagues/{{L.leagueID.id}}">{{L.leagueID.name}}</a></b></h2>

              <ul style="margin:0;padding:0; list-style-type:none;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                {% if L.leagueID.isCrypto %}
              <li>Crypto · </li>
                {% else %}
                 <li>Stock ·</li>
                 {% endif %}
              <li>Timed</li>
              </ul>
            </div>
            <div class="row">
            <div class="col-lg-5" style="border-right:1px solid rgba(118,118,118,0.1);height:270px;">
              <img style="margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;" src="/static/home2/titanhead_logo_trans.png">
            </div>
            <div class="col-lg-7" style="padding-left:0;height:270px">
              <ul style="margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                {% for a in admin %}
                  {% if forloop.counter == forloop.parentloop.counter %}
                    <li>Admin: {{ a }}</li>
                  {% else %}
                  {% endif %}
                {% endfor %}
              </ul>
              <ul style="margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li>Created: {{L.leagueID.beginDate}}</li>
              </ul>
              <ul style="margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li>Ends: {{L.leagueID.endDate}}</li>
              </ul>
              <ol style="list-style-type:none;margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li style="text-align:left">Player Information:</li>
                <li>Rank:102</li>
                <li>Buying Power: {{L.buyingPower}}</li>
                <li>Total Assets: {{L.totalWorth}}</li>
              </ol>
              <div style="overflow-y:scroll;padding:.5em;text-align:left;white-space:normal;color:#0a0a0a;flex:1;height:100px">
              <p>The universal league is a Titan Trading created league that all users are automatically a part of. Compete with all other Titan Trading users to find out who is the superior investor and how ready you are for real investment.</p>
              </div>
            </div>
          </div>
            <div class="container" style="width:100%; bottom:0; border-top:1px solid rgba(118,118,118,0.1);">
              <h4 class="card-title">
                <a href="/leagues/{{L.leagueID.id}}">{{L.leagueID.name}}</a>
              </h4>
              <p class="card-text" style="color:#767676;">Click the link for more information about your Universal League.</p>
            </div>
          </div>
        </div>
        {% endfor %}
       <!--<div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div style="width:100%;text-align:center;">
              <h2 style="font-size:1.6em;text-overflow:ellipsis;line-height:1.8rem;margin:0.1rem 0 0;overflow:hidden;z-index:1; position:relative;">Class Of SE18 League</h2>

              <ul style="margin:0;padding:0; list-style-type:none;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
              <li>Stock · </li>
              <li>Timed</li>
              </ul>
            </div>
            <div class="row">
            <div class="col-lg-5" style="border-right:1px solid rgba(118,118,118,0.1);height:270px;">
              <img style="margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;" src="/static/home2/se18.png">
            </div>
            <div class="col-lg-7" style="padding-left:0;height:270px">
              <ul style="margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li>Admin: {{request.user}}</li>
              </ul>
              <ul style="margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li>Created: Jan 16 2018</li>
              </ul>
              <ul style="margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li>Ends: May 11 2018</li>
              </ul>
              <ol style="list-style-type:none;margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li style="text-align:left">Player Information:</li>
                <li>Rank:1</li>
                <li>Buying Power: $111,321</li>
                <li>Total Assets: $302,197</li>
              </ol>
              <div style="overflow-y:scroll;padding:.5em;text-align:left;white-space:normal;color:#0a0a0a;flex:1;height:100px">
              <p>A private league created for the students enrolled in Software Engineering 2018 Spring Semester.</p>
              </div>
            </div>
          </div>
            <div class="container" style="width:100%; bottom:0; border-top:1px solid rgba(118,118,118,0.1);">
              <h4 class="card-title">
                <a href="/league1">Class Of SE18 League</a>
              </h4>
              <p class="card-text" style="color:#767676;">Click the link for more information about your private League.</p>
            </div>
          </div>
        </div>


        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
           <a href="/createleague"><div class="btn btn-success" style="width:100%;height:80%"><i class="fa fa-plus-square" style="font-size:400%;margin:auto"></i><h1>Create a League!</h1>
          </div></a>
          <a href="/joinLeague"><div class="btn btn-secondary" style="width:100%;height:80%" ><i class="fa fa-group" style="font-size:400%;margin:auto;color:#fff"></i><h1 style="color:#fff">Join a League!</h1>
          </div></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/faq">Learn more about Private Leagues.</a>
              </h4>
              <p class="card-text">Create a new league to start trading with friends!</p>
            </div>
          </div>
        </div>
      -->
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">

          <a href="/createleague"><div class="btn btn-success" style="width:100%;height:80%" ><i class="fa fa-plus-square" style="font-size:400%;margin:auto"></i><h1>Create a League!</h1>
          </div></a>
          <a href="/joinLeague"><div class="btn btn-secondary" style="width:100%;height:80%" ><i class="fa fa-group" style="font-size:400%;margin:auto;color:#fff"></i><h1 style="color:#fff">Join a League!</h1></div></a>

            <div class="card-body">
              <h4 class="card-title">
                <a href="/faq">Learn more about Private Leagues.</a>
              </h4>
              <p class="card-text">Create a new league to start trading with friends!</p>
            </div>
          </div>
        </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
</form>
  <!-- Footer -->
	<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-1">
          <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="/home">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="/faq">FAQ</a>
              </li>
              <li class="list-inline-item">
                <a href="/aboutus">About Us</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="/static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="/static/dashboard2/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/dashboard2/vendor/raphael/raphael.min.js"></script>
    <script src="/static/dashboard2/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/dashboard2/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dashboard2/dist/js/sb-admin-2.js"></script>

  </body>

</html>
