<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>FAQ</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/createleague/css/wireframe.css"> 
	<!-- Custom styles for this template -->
	<link href="/static/faq/css/faq-main.css" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/home2/city3.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">

  <!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/mission">Our Mission</a>
							<a class="dropdown-item" href="/faq">FAQ</a>
							<a class="dropdown-item" href="/beginners">Beginners Guide</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/profile">UserID</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<br><br><br>

  <!-- Page Content -->
  <div class="container">
		<div class="faqHeader">Question Set 1</div>
		<div id="faq" role="tablist" aria-multiselectable="true">

			<div class="card">
			<div class="card-header" role="tab" id="questionOne">
			<h5 class="card-title">
			<a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="true" aria-controls="answerOne">
			Question 1
			</a>
			</h5>
			</div>
			<div id="answerOne" class="collapse show" role="tabcard" aria-labelledby="questionOne">
			<div class="card-body">
			Question 1 Answer
			</div>
			</div>
			</div>
			
			<div class="card">
			<div class="card-header" role="tab" id="questionTwo">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
			Question 2
			</a>
			</h5>
			</div>
			<div id="answerTwo" class="collapse" role="tabcard" aria-labelledby="questionTwo">
			<div class="card-body">
			Question 2 Answer
			</div>
			</div>
			</div>
			
			<div class="card">
			<div class="card-header" role="tab" id="questionThree">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerThree" aria-expanded="true" aria-controls="answerThree">
			Question 3
			</a>
			</h5>
			</div>
			<div id="answerThree" class="collapse in" role="tabcard" aria-labelledby="questionThree">
			<div class="card-body">
			Question 3 Answer
			</div>
			</div>
			</div>
			
		</div>

	
		<div class="faqHeader">Question Set 2</div>
		<div id="faqTabsTwo" role="tablist" aria-multiselectable="true">

				<div class="card">
				<div class="card-header" role="tab" id="questionFour">
				<h5 class="card-title">
				<a data-toggle="collapse" data-parent="#faqTabsTwo" href="#answerFour" aria-expanded="true" aria-controls="answerFour">
				Question 4
				</a>
				</h5>
				</div>
				<div id="answerFour" class="collapse show" role="tabcard" aria-labelledby="questionOne">
				<div class="card-body">
				Question 4 Answer
				</div>
				</div>
				</div>
				
				<div class="card">
				<div class="card-header" role="tab" id="questionFive">
				<h5 class="card-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerFive" aria-expanded="false" aria-controls="answerFive">
				Question 5
				</a>
				</h5>
				</div>
				<div id="answerFive" class="collapse" role="tabcard" aria-labelledby="questionFive">
				<div class="card-body">
				Question 5 Answer
				</div>
				</div>
				</div>
				
				<div class="card">
				<div class="card-header" role="tab" id="quesionSix">
				<h5 class="card-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerSix" aria-expanded="true" aria-controls="answerSix">
				Question 6
				</a>
				</h5>
				</div>
				<div id="answerSix" class="collapse in" role="tabcard" aria-labelledby="quesionSix">
				<div class="card-body">
				Question 6 Answer
				</div>
				</div>
				</div>
				
			</div>

		<br><br><br>
	
      <!-- /.container -->
    </footer>

	</div>
	
	  <!-- Footer -->
		<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
      <div class="container">
        <div class="row">
          <div class="col-md-12 my-1">
            <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                  <a href="/home">Home</a>
                </li>
                <li class="list-inline-item">
                  <a href="/faq">FAQ</a>
                </li>
                <li class="list-inline-item">
                  <a href="/aboutus">About Us</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </footer>

</body>

</html>

