<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>FAQ</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/createleague/css/wireframe.css">
	<!-- Custom styles for this template -->
	<link href="/static/faq/css/faq-main.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/home2/css/titan-trading.css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/home2/city5.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
<div >
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/shop">Shop</a>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					{% endif %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/aboutus">About Us</a>
							<a class="dropdown-item" href="/mission">Our Mission</a>
							<a class="dropdown-item" href="/faq">FAQ</a>
						</div>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/profile">Profile</a>
								<a class="dropdown-item" href="/settings">Settings</a>
								<a class="dropdown-item" href="/logout_view">Log Out</a>
							</div>
						</li>
						{% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Login</a>
            </li>
          {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<br><br><br>

  <!-- Page Content -->
  <div class="container">
		<div class="bg-light rounded">
		<div class="faqHeader text-center text-dark">
			<h1>Frequently Asked Questions</h1>
		</div>
		<div class="faqHeader text-center text-dark">
			Below are some of the more frequently asked questions related to not only to Titan Trading, but to finance in general as well as links to external resources that can prove useful.
		</div>
		</div>
		<div class="faqHeader"> Stocks and Cryptocurrency</div>
		<div id="faq" role="tablist" aria-multiselectable="true">

			<div class="card">
			<div class="card-header" role="tab" id="questionOne">
			<h5 class="card-title">
			<a data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="true" aria-controls="answerOne">
			What is cryptocurrency?
			</a>
			</h5>
			</div>
			<div id="answerOne" class="collapse show" role="tabcard" aria-labelledby="questionOne">
			<div class="card-body">
			A cryptocurrency is a digital currency in which encryption techniques are used to regulate the generation of currency and verify the transfer of funds/services, operating independently of a central bank.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionTwo">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
			What is a stock?
			</a>
			</h5>
			</div>
			<div id="answerTwo" class="collapse" role="tabcard" aria-labelledby="questionTwo">
			<div class="card-body">
			A stock is a security that represents your ownership in a company. Ownership of a stock means that you now hold a share in the company and part of the company's value, is now yours.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionThree">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerThree" aria-expanded="true" aria-controls="answerThree">
			How do stocks operate?
			</a>
			</h5>
			</div>
			<div id="answerThree" class="collapse in" role="tabcard" aria-labelledby="questionThree">
			<div class="card-body">
			For the public equities league, we assume that stocks operate under the efficient market hypothesis (EMH). The efficient market hypothesis is an investment theory that states that stocks will always trade at their fair value, so that investors will never be able to purchase underpriced stocks  or sell stocks at an inflated price. In our current market, investors are typically rational and are only willing to pay what an equity is actually worth.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionFour">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerFour" aria-expanded="true" aria-controls="answerFour">
			How are stocks different from cryptocurrencies?
			</a>
			</h5>
			</div>
			<div id="answerFour" class="collapse in" role="tabcard" aria-labelledby="questionFour">
			<div class="card-body">
			Unlike stocks, cryptocurrency does not abide by any single government's regulations, as its origins only date back to 2009 (Marr, Bernard). Unlike public equity, cryptocurrencies - like Bitcoin - drastically fluctuate in price and are extremely volatile for a variety of reasons. Cryptocurrency is affected by uncertainty in its store of value, which is the function of an asset’s usefulness with some predictability. In addition, its current market is driven by extreme press about security breaches, rapid positive gains, or illegalization of the currency. Because crypto is influenced by its lack of certainty and its inconsistent media perception, cryptocurrency investors trade irrationally, thus contradicting the efficient market hypothesis and causing volatility in the crypto market.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionFive">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerFive" aria-expanded="true" aria-controls="answerFive">
			What are Titan Trading resources I can use to learn about the stock market?
			</a>
			</h5>
			</div>
			<div id="answerFive" class="collapse in" role="tabcard" aria-labelledby="questionFive">
			<div class="card-body">
			In Titan Trading, we provide a variety of resources to help you learn about the stock market. We have written a glossary that will help you become more familiar with typical finance terms. In addition, spread throughout our website and homepage, we will have current market or cryptocurrency statistics so that you may make informative decisions when buy or selling.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="quesionSix">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faq" href="#answerSix" aria-expanded="true" aria-controls="answerSix">
			What external resources can I use to learn more about the stock market?
			</a>
			</h5>
			</div>
			<div id="answerSix" class="collapse in" role="tabcard" aria-labelledby="quesionSix">
			<div class="card-body">
			<a href="https://www.investopedia.com/">Investopedia</a> is a commonly-used website to learn about the stock market. There are also plenty of news sites such as <a href="https://www.bloomberg.com/">Bloomberg</a> that deliver financial news and analysis for investors of all skill levels.
			</div>
			</div>
			</div>

		</div>


		<div class="faqHeader">Private Leagues</div>
		<div id="faqTabsTwo" role="tablist" aria-multiselectable="true">
			<div class="card">
			<div class="card-header" role="tab" id="questionSeven">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faqTabsTwo" href="#answerSeven" aria-expanded="true" aria-controls="answerSeven">
			How many leagues can I join?
			</a>
			</h5>
			</div>
			<div id="answerSeven" class="collapse in" role="tabcard" aria-labelledby="questionSeven">
			<div class="card-body">
			You can join up to 3 private leagues, while also being enrolled in the universal league.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionEight">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faqTabsTwo" href="#answerEight" aria-expanded="true" aria-controls="answerEight">
			How can I make and invite my friends to a private league?
			</a>
			</h5>
			</div>
			<div id="answerEight" class="collapse in" role="tabcard" aria-labelledby="questionEight">
			<div class="card-body">
			Check your <a href="/dashboard">League Dashboard</a>, you can join a new league in one of the empty slots. Simply fill out the form, indicating your league preferences, such as starting balance, end date, and whether the league is cryptocurrency or not. Your newly created league should now appear on your league dashboard.
			<br>As a league manager, you can click the button to invite friends to your league. This will send an email notification to your friend with a league password which they will use to enter your league.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionNine">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faqTabsTwo" href="#answerNine" aria-expanded="true" aria-controls="answerNine">
			Can I make a private league that trades both cryptocurrency and stocks?
			</a>
			</h5>
			</div>
			<div id="answerNine" class="collapse in" role="tabcard" aria-labelledby="questionNine">
			<div class="card-body">
			As of now, Titan Trading does not support for a league that combines the two asset types. The markets for normal stocks and cryptocurrency are vastly different and require different trading behaviors. It is in your best interest to keep them separate.
			</div>
			</div>
			</div>


		</div>

		<div class="faqHeader">Buying and Selling</div>
		<div id="faqTabsThree" role="tablist" aria-multiselectable="true">
			<div class="card">
			<div class="card-header" role="tab" id="questionTen">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faqTabsThree" href="#answerTen" aria-expanded="true" aria-controls="answerTen">
			What is a market sell, limit sell, and stop sell?
			</a>
			</h5>
			</div>
			<div id="answerTen" class="collapse in" role="tabcard" aria-labelledby="questionTen">
			<div class="card-body">
					A market sell means that you sell your stock at the current bid price. A limit sell is a sell that will execute if your target, profitable market price is reached. This differs from a stop sell because the sell will execute at a target market price in order to prevent your losses. When inputting your limit sell, you must indicate a price that is greater than the current market price. When inputting a stop sell, you must indicate a price that is lower than the current market price.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionEleven">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faqTabsThree" href="#answerEleven" aria-expanded="true" aria-controls="answerEleven">
			What is a market buy and limit buy?
			</a>
			</h5>
			</div>
			<div id="answerEleven" class="collapse in" role="tabcard" aria-labelledby="questionEleven">
			<div class="card-body">
			A market buy means that you will buy your stock at the current bid price. A limit buy means that the buy order will execute when the market price has reached lower than or equal to your limit price. This is because you want to buy your stock at the cheapest possible price.
			</div>
			</div>
			</div>

			<div class="card">
			<div class="card-header" role="tab" id="questionTwelve">
			<h5 class="card-title">
			<a class="collapsed" data-toggle="collapse" data-parent="#faqTabsThree" href="#answerTwelve" aria-expanded="true" aria-controls="answerTwelve">
			Can your limit or stop orders not execute?
			</a>
			</h5>
			</div>
			<div id="answerTwelve" class="collapse in" role="tabcard" aria-labelledby="questionTwelve">
			<div class="card-body">
			It is possible that you have entered at unreachable limit or stop threshold. In these cases, your orders will not execute.
			</div>
			</div>
			</div>

		</div>



		<br><br><br>

      <!-- /.container -->
    </footer>

	</div>

	  <!-- Footer -->
		<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
      <div class="container">
        <div class="row">
          <div class="col-md-12 my-1">
            <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                  <a href="/home">Home</a>
                </li>
                <li class="list-inline-item">
                  <a href="/faq">FAQ</a>
                </li>
                <li class="list-inline-item">
                  <a href="/aboutus">About Us</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </footer>

</body>

</html>
