<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>Home</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/home2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/home2/css/small-business.css" rel="stylesheet">

</head>
<body background = "/static/home2/city3.jpg" style = "background-repeat:no-repeat; background-size:cover;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href=""><img src="/static/home2/TITANTrading_1.png" width="125" height="45" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">UserID</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-8">
		<!-- Widget BEGIN -->
		<script type="text/javascript">
			baseUrl = "https://widgets.cryptocompare.com/";
			var scripts = document.getElementsByTagName("script");
			var embedder = scripts[ scripts.length - 1 ];
			(function (){
				var appName = encodeURIComponent(window.location.hostname);
				if(appName==""){appName="local";}
				var s = document.createElement("script");
				s.type = "text/javascript";
				s.async = true;
				var theUrl = baseUrl+'serve/v1/coin/chart?fsym=BTC&tsym=USD';
				s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
				embedder.parentNode.appendChild(s);
			})();
		</script>
		<!-- Widget END -->
		<!--
        <div class="tradingview-widget-container">
          <div id="tradingview_faca7"></div>
          <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"></a></div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
            new TradingView.widget(
            {
              "width": 740,
              "height": 400,
              "symbol": "NASDAQ:AAPL",
              "interval": "D",
              "timezone": "Etc/UTC",
              "theme": "Light",
              "style": "1",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "allow_symbol_change": true,
              "hideideas": true,
              "container_id": "tradingview_faca7"
            }
            );
          </script>
        </div>
		-->
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4" style="background-color:#fff;border-radius:.25rem">
        <h1 style="text-align:center">Universal League Leaderboard</h1>
        <table style="width:100%;text-align:center">
          <tr>
            <th>Rank</th>
            <th>UserName</th> 
            <th>Total Assets</th>
          </tr>
          <tr>
            <td>1</td>
            <td>IvanMarsic</td> 
            <td>$1,204,201</td>
          </tr>
          <tr>
            <td>2</td>
            <td>TimothyLiu</td> 
            <td>$702,403</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Avanish</td> 
            <td>$702,201</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Kristene</td> 
            <td>$632,123</td>
          </tr>
          <tr>
            <td>5</td>
            <td>NickLurski</td> 
            <td>$403,912</td>
          </tr>
          <tr>
            <td>6</td>
            <td>StevenAdler</td> 
            <td>$403,083</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Safa</td> 
            <td>$132,617</td>
          </tr>
          <tr>
            <td>8</td>
            <td>KristianWu</td> 
            <td>$52,952</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Brooks</td> 
            <td>$43,212</td>
          </tr>
          <tr>
            <td>10</td>
            <td>DavidZ</td> 
            <td>$10,201</td>
          </tr>

        </table>
        <div class="card-footer" style="background-color:#fff;text-align:center">
          <div class="container" style="margin:auto;padding-top:4%">
           <a class="btn btn-primary" href="/dashboard">Check out your other Leagues!</a>
          </div>
        </div>
        
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <a href="/dashboard"><div class="card text-white my-4 text-center" style="background-color:#0abab5">
      <div class="card-body">
        <p class="text-white m-0">Play Now!</p>
      </div>
    </div>
  </a>
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">DOW AVERAGE</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Some Interesting Stock Trading Article</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">SOMETHING ELSE</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Titan Trading 2018</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/home2/vendor/jquery/jquery.min.js"></script>
  <script src="/static/home2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

