<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
    <title>Individual League</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/league.css" rel="stylesheet">
	  <link rel="stylesheet" href="/static/createleague/css/wireframe.css"> 
    <link rel="stylesheet" href="/static/home2/css/titan-trading.css">  
    
    <!-- Custom styles for this template -->
    <link href="/static/dashboard/css/2-col-portfolio.css" rel="stylesheet">

    <link href="/static/dashboard2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
	
    <!-- Custom CSS -->
    <link href="/static/dashboard2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/dashboard2/vendor/morrisjs/morris.css" rel="stylesheet">
     <!-- Custom Fonts -->
    <link href="/static/dashboard2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body background = "/static/home2/skyscraper1.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
  <div class="background-shade">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/aboutus">About Us</a>
                <a class="dropdown-item" href="/mission">Our Mission</a>
                <a class="dropdown-item" href="/faq">FAQ</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/profile">Profile</a>
                  <a class="dropdown-item" href="/settings">Settings</a>
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Individual League
      </h1>
      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div style="width:100%;text-align:center;">
              <h2 style="font-size:1.6em;text-overflow:ellipsis;line-height:1.8rem;margin:0.1rem 0 0;overflow:hidden;z-index:1; position:relative;">Leaderboard</h2>
            
             <!-- /.col-lg-8 -->
      <div class="col-lg-4" style="background-color:#fff;border-radius:.25rem">
        <table style="width:100%;text-align:center">
          <tr>
            <th>Rank</th>
            <th>UserName</th> 
            <th>Total Assets</th>
          </tr>
          <tr>
            <td>1</td>
            <td>IvanMarsic</td> 
            <td>$1,204,201</td>
          </tr>
          <tr>
            <td>2</td>
            <td>TimothyLiu</td> 
            <td>$702,403</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Avanish</td> 
            <td>$702,201</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Kristene</td> 
            <td>$632,123</td>
          </tr>
          <tr>
            <td>5</td>
            <td>NickLurski</td> 
            <td>$403,912</td>
          </tr>
          <tr>
            <td>6</td>
            <td>StevenAdler</td> 
            <td>$403,083</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Safa</td> 
            <td>$132,617</td>
          </tr>
          <tr>
            <td>8</td>
            <td>KristianWu</td> 
            <td>$52,952</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Brooks</td> 
            <td>$43,212</td>
          </tr>
          <tr>
            <td>10</td>
            <td>DavidZ</td> 
            <td>$10,201</td>
          </tr>

        </table>
        <div class="card-footer" style="background-color:#fff;text-align:center">
          <div class="container" style="margin:auto;padding-top:4%">
           <a class="btn btn-primary" href="/dashboard">Back to League Dashboard!</a>
          </div>
        </div>
        
      </div>
      <!-- /.col-md-4 -->
            </div>
          </div>
          </div>
        

       <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div style="width:100%;text-align:center;">
              <h2 style="font-size:1.6em;text-overflow:ellipsis;line-height:1.8rem;margin:0.1rem 0 0;overflow:hidden;z-index:1; position:relative;">Personal Info</h2>
            
              <ul style="margin:0;padding:0; list-style-type:none;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
              </ul>
            </div>
            <div class="row">
            <div class="col-lg-5" style="border-right:1px solid rgba(118,118,118,0.1);height:270px;">
              <img style="margin:auto;position:absolute;top:0;bottom:0;left:0;right:0;" src="/static/home2/se18.png">
            </div>
            <div class="col-lg-7" style="padding-left:0;height:270px">
               <ol style="list-style-type:none;margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li style="text-align:left">User Name:</li>
                <li>Buying Power:</li>
                <li>Rank: </li>
                <li>Total Worth: </li>
              </ol>
              <ol style="list-style-type:none;margin:0;padding:0;font-size:1em;text-align:center;border-bottom:1px solid rgba(118,118,118,0.1);color:#767676;">
                <li style="text-align:left">League Settings:</li>
                <li>End Date:</li>
                <li>League Admin: </li>
                <li>Starting Balance: </li>
                <li>Crypto or Not </li> 
              </ol>
          </div>
          </div>
        </div>
    </div>

        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
           <a href="/buypage"><div class="btn btn-success" style="width:100%;height:40%"><i class="fa fa-plus-square" style="font-size:400%;margin:auto"></i><h1>BUY</h1>
          </div></a>
          </div>
        </div>
        
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
          <a href="/sellform"><div class="btn btn-success" style="width:100%;height:40%" ><i class="fa fa-plus-square" style="font-size:400%;margin:auto"></i><h1>SELL</h1>
          </div></a>
          </div>
        </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  <!-- Footer -->
	<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-1">
          <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="/home">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="/faq">FAQ</a>
              </li>
              <li class="list-inline-item">
                <a href="/aboutus">About Us</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="/static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
     <script src="/static/dashboard2/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/dashboard2/vendor/raphael/raphael.min.js"></script>
    <script src="/static/dashboard2/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/dashboard2/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dashboard2/dist/js/sb-admin-2.js"></script>

  </body>

</html>
