<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
		<title>Login</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/static/homestyle/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/homestyle/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/assets/css/form-elements.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{ url_for('static',filename='assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body background="/static/homestyle/img/header.jpg" style = "background-repeat:no-repeat; background-size:cover;">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/home2/titantrading_nobackground.png" width="125" height="45" alt="logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:#fff" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" style="color:#fff" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 
        <!-- Top content -->
        <div class="top-content">
        	<div class="container" style="padding-top:10%;align-items:center;width:auto;margin:auto;">	
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2 text" style="margin-left:auto;margin-right: auto">
                        <h1>Login</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1 show-forms" style ="margin: auto">
                    	<span class="show-register-form"><a style="color:#fff" href="/signup">Register</a></span> 
                    	<span class="show-forms-divider">/</span> 
                    	<span class="show-login-form active">Login</span>
                    </div>
                </div>
                <div class ="row">
                <div class="col-sm-5 col-sm-offset-1" style ="margin: auto">
	                    	<div class="form-group" style="padding-top:5%">
	                    		<label class="sr-only" for="l-form-username">Username</label>
	                        	<input type="text" name="l-form-username" placeholder="Username..." class="l-form-username form-control" id="l-form-username">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="l-form-password">Password</label>
	                        	<input type="password" name="l-form-password" placeholder="Password..." class="l-form-password form-control" id="l-form-password">
	                        </div>
				            <button class="btn"><a style="color:#fff" href="/home">Sign in!</a></button>
                	</div>
                </div>
                </div>
           </div>
        </div>

        <!-- Footer -->
        <!--<footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by <a href="http://azmind.com" target="_blank">AZMIND</a>.</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>-->

        <!-- Javascript -->
        <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <!--<script src="/static/assets/js/jquery.backstretch.min.js"></script>-->
        <script src="/static/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>