<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>Our Mission</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="/static/mission/css/mission.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/home2/css/titan-trading.css">

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background="\static\home2\skyscraper1.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
<div >
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home</a>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item">
						<a class="nav-link" href="/shop">Shop</a>
					  </li>
					<li class="nav-item">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					{% endif %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/aboutus">About Us</a>
							<a class="dropdown-item" href="/mission">Our Mission</a>
							<a class="dropdown-item" href="/faq">FAQ</a>
						</div>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/profile">Profile</a>
								<a class="dropdown-item" href="/settings">Settings</a>
								<a class="dropdown-item" href="/logout_view">Log Out</a>
							</div>
						</li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Login</a>
            </li>
          {% endif %}
				</ul>
			</div>
		</div>
	</nav>

		<br><br><br>

		<!-- Page Content -->
		<br><br>
		<div class="container statement">
			<div class="d-flex justify-content-center">
					<div class="text-center">
							<img src="\static\mission\img\titanhead_logo_trans.png">
						</div>
				</div>
			<div class="d-flex justify-content-center">
				<div class="text-center">
						<h1>Our Mission</h1>
					</div>
			</div>
			<div class="d-flex justify-content-center">
					<div class="text-left">
							<p>Here at Titan Trading, we strive to give everyone the opportunity to experience stock market and cryptocurrency trading without monetary risk. We train the next generation of traders and finance experts. Titan Trading is an educational tool for novice and experienced traders alike. For the novice trader, we hope to teach them the basics of investments and give them a platform to try things out before committing to investing in real life. </p>

              <p>For the more experienced day-trader, give them a chance to try out new investment strategies and tools. No matter the experience level, users have so experience and knowledge to gain through competing in our stock market leagues. Our competition environment creates an environment similar to that of the real stock market, thus incentivizing players to make strategic and profitable investments. Titan Trading wants to open up stock market and cryptocurrency trading to everyone.</p>
              <p> After learning about trading here, they can eventually participate in real trading and will form the next generation of financial experts. </p>

              <p><font size = "3"><b>What We Do</b></font></p>

              <ul style="list-style-type:disc">
                <li>Educational experience so everyone can have the opportunity to experience trading without monetary risk
</li>
<li>Competitive environment to simulate the real stock market</li>
<li>Milestone goals for players so they can see how they have improved (trophies)</li>
<li>Train the next generation of traders and finance experts. We believe that the best way to learn about trading is by participating yourself</li>
<li>Understand the risks involved in trading, and how investing in the stock market during a market boom can exponentially increase your net worth while a market crash can cripple your investments</li>
<li>Stock market fantasy game that incorporates cryptocurrency trading to aspiring investors of all experience levels</li>
<li>Teach the novice trader the basics of investments and give them a platform to try things out before committing to investing in real life</li>
<li>For the more experienced day-trader, our game will give them a chance to try out some new investment strategies, or compete against their colleagues without risking their real assets</li>
<li>Practice and learn using real data and tools, without risking personal loss, is what we want our game to provide</li>
<li>including the competition aspect, we hope to incentivize players to make strategic and profitable investments, instead of making risky and unrealistic trades. </li>

              </ul>


						</div>
				</div>
		</div>

		<br><br>

		<!-- Footer -->
		<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
			<div class="container">
				<div class="row">
					<div class="col-md-12 my-1">
						<p class="mb-1 text-center text-light"> 2018-2019 Titan Trading</p>
						<ul class="list-inline text-center">
							<li class="list-inline-item">
									<a href="/home">Home</a>
								</li>
								<li class="list-inline-item">
									<a href="/faq">FAQ</a>
								</li>
								<li class="list-inline-item">
									<a href="/aboutus">About Us</a>
								</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</footer>

	</body>
</html>
