<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>Buy Stock</title>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="/static/createleague/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/home2/css/titan-trading.css">  

  <link rel="stylesheet" href="/static/createleague/css/wireframe.css"> 
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  
  </head>

<body class="bg-dark " style=" text-align: left; background-image: url('/static/home2/wallstreetbull.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
    <html>
    
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- PAGE settings -->
      <link rel="icon" href="/static/home2/titanhead_logo_trans.png">
      <title>Buy Stock</title>
      <!-- CSS dependencies -->
      <link rel="stylesheet" href="/static/createleague/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" href="/static/home2/css/titan-trading.css">  
    
      <link rel="stylesheet" href="/static/createleague/css/wireframe.css"> 
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
      
      </head>
    
    <body class="bg-dark " style=" text-align: left; background-image: url('/static/home2/wallstreetbull.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
    <div class="background-shade"> 
			
			
			<!-- Navigation -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
					<div class="container">
						<a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarResponsive">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="/home">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/dashboard">Dashboard</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="/aboutus">About Us</a>
										<a class="dropdown-item" href="/mission">Our Mission</a>
										<a class="dropdown-item" href="/faq">FAQ</a>
									</div>
								</li>
								<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="/profile">Profile</a>
											<a class="dropdown-item" href="/settings">Settings</a>
											<a class="dropdown-item" href="/logout_view">Log Out</a>
										</div>
									</li>
							</ul>
						</div>
					</div>
				</nav>

			<!-- Modal -->
			<div class="modal fade" id="googModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">ERROR: Stock title is invalid</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
					</div>
						<div class="modal-body">
								Did you mean to say 'GOOGL'?
						</div>
						<div class="modal-footer">
								<a href="/home"><button type="button" class="btn btn-secondary" data-dismiss="modal">No</button></a>
								<a href="/home"><button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button></a>
						</div>
					</div>
				</div>
			</div>  
    
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>

			<script type="text/javascript">
				$(window).on('load',function(){
						$('#googModal').modal('show');
				});
			</script>

      </div>
    </body>
    
    </html>
  </div>
</body>

</html>