<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	
	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>USEID's Page</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="/static/profile/css/profile.css" rel="stylesheet">
	
	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/home2/city5.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href=""><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/aboutus">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/profile">UserID</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
	<br><br><br>

	<!-- Page Content -->
	<div class="d-flex justify-content-center container">
		<div class="col-lg-10 col-md-10 text-center">
			<div class="card hovercard">
				<div class="card-background">
					<img class="card-bkimg" alt="" src="/static/profile/img/USERID_profilepic.png">
					<!-- http://lorempixel.com/850/280/people/9/ -->
				</div>
				<div class="useravatar">
						<img alt="" src="/static/profile/img/USERID_profilepic.png">
				</div>
				<div class="card-info"> 
					<span class="card-title">USER ID - Brooks Tawil</span>
				</div>
			</div>
		</div>
	</div>

<br>

<div class="col-sm-offset-2 col-sm-8 container account-settings">
	<!-- Form Name -->
	<legend>Account Details</legend>

	<!-- Text input-->
	<div class="form-group col-sm-10">
		<label class="col-md-4 control-label" for="displayname">Display Name</label>  
		<div class="col-md-6">
		<input id="displayname" name="displayname" type="text" placeholder="Please enter a display name " class="form-control input-md" required="">
		</div>
	</div>

	<!-- Prepended text-->
	<div class="form-group col-sm-10">
		<label class="col-md-4 control-label" for="Setting 1">Setting 1</label>
			<div class="col-md-6">
					<select id="Setting 1" name="Setting 1" class="form-control">
							<option value="Choice 1">Choice 1</option>
							<option value="Choice 2">Choice 2</option>
							<option value="Choice 3">Choice 3</option>
							<option value="Choice 4">Choice 4</option>
							<option value="Choice 5">Choice 5</option>
					</select>
			</div>
	</div>
	<div class="form-group col-sm-10">
		<label class="col-md-4 control-label" for="Setting 2">Department</label>
		<div class="col-md-6">
			<select id="Setting 2" name="Setting 2" class="form-control">
				<option value="Choice 1">Choice 1</option>
				<option value="Choice 2">Choice 2</option>
				<option value="Choice 3">Choice 3</option>
				<option value="Choice 4">Choice 4</option>
			</select>
		</div>
	</div>
	<!-- Form Name -->
	<legend>User Settings</legend>

	<!-- Prepended text-->
	<div class="form-group col-sm-10">
		<label class="col-md-4 control-label" for="Setting 1">Setting 1</label>
			<div class="col-md-6">
					<select id="Setting 1" name="Setting 1" class="form-control">
							<option value="Choice 1">Choice 1</option>
							<option value="Choice 2">Choice 2</option>
							<option value="Choice 3">Choice 3</option>
							<option value="Choice 4">Choice 4</option>
							<option value="Choice 5">Choice 5</option>
					</select>
			</div>
	</div>
	</form>
	<br>
</div>
	
	<!-- Footer -->
    <footer class="py-2 filter-dark">
      <div class="container">
        <div class="row">
        <div class="col-md-12 my-1">
          <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="/home">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="/faq">FAQ</a>
              </li>
              <li class="list-inline-item">
                <a href="/aboutus">About Us</a>
              </li>
          </ul>
        </div>
      </div>
      </div>
      <!-- /.container -->
    </footer>

</body>

</html>

