<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>{{request.user.username}}'s Page</title>

  <!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="/static/profile/css/profile.css" rel="stylesheet">

	<!-- JS Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/home2/city3.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
<div class="background-shade">
  <!-- Navigation -->
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/shop">Shop</a>
					</li>
          {% if request.user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
		  {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/aboutus">About Us</a>
              <a class="dropdown-item" href="/mission">Our Mission</a>
              <a class="dropdown-item" href="/faq">FAQ</a>
            </div>
          </li>
		  {% if request.user.is_authenticated%}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/settings">Settings</a>
                <a class="dropdown-item" href="/logout">Log Out</a>
              </div>
            </li>
			{% endif %}
        </ul>
      </div>
    </div>
  </nav>

	<br><br><br>

	<!-- Page Content -->
	<div class="container">
	<div class="row">
				<div class="col-md-12 text-center ">
					<div class="panel panel-default">
						<div class="userprofile social ">
							<div class="userpic"> <img src="\static\profile\img\USERID_profpic.jpg" alt="" class="userpicimg"> </div>
							<br>
							<h1 class="username">{{request.user.username}}</h1>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<!-- /.col-md-12 -->
				<div class="col-md-12 col-sm-12 pull-right background-filler">
					<br>
					<div class="panel panel-default">
						<div>
							<h1 class="page-header small"><font size="5"><b>Personal Statement</b></font></h1>
							<hr>
							<p class="page-subtitle small"><font size="4">{{request.user.profile.statement}}</font> </p>
							<p class="page-subtitle small"><font size="4">Birthday: {{request.user.profile.birthday}}</font> </p>
						</div>
						<div>
								<h1 class="page-header small"><font size="5"><b>Achievements</b></font></h1>
								<hr>
								<p class="page-subtitle small"><font size = "4">{{request.user.username}}'s Achievements</font></p>
							</div>
						<div class="col-md-12 photolist">
							<div class="row">
								{% if request.user.profile.trophies.0 == 1 %}
								<div class="col-sm-3 col-xs-3"><img src= "/static/home2/titanhead_logo.png" class="" alt=""> </div>
								{% endif %}
								{% if request.user.profile.trophies.1 == 1 %}
								<div class="col-sm-3 col-xs-3"><img src="/static/home2/titanhead_logo.png" class="" alt=""> </div>
								{% endif %}
								{% if request.user.profile.trophies.2 == 1 %}
								<div class="col-sm-3 col-xs-3"><img src="/static/home2/titanhead_logo.png" class="" alt=""> </div>
								{% endif %}
								{% if request.user.profile.trophies.3 == 1 %}
								<div class="col-sm-3 col-xs-3"><img src="/static/home2/titanhead_logo.png" class="" alt=""> </div>
								{% endif %}
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
			<!--	<div class="panel panel-default">
						<div>
							<h1 class="page-header small"><font size="5"><b>About Me</b></font></h1>
							<hr>
							<p class="page-subtitle small"><font size = "4">I want to learn how to trade cryptocurrency. Titan Trading helped me learn how to trade without risk! </font></p>
						</div>
						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item"><span class="fa fa-male"></span> Holds $X across all leagues</li>
								<li class="list-group-item"><span class="fa fa-institution"></span> Sold X stocks since joining</li>
								<li class="list-group-item"><span class="fa fa-clock-o"></span> Acquired X stocks since joining </li>
								<li class="list-group-item"><span class="fa fa-user"></span> Attained global rank of X </li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>-->
			<!--	<div class="col-md-7 col-sm-12 pull-left posttimeline background-filler">
					<br>
					<div class="panel panel-default">
						<div class="col-md-12">
							<div class="media">
								<div class="media-left"> <a href="javascript:void(0)"> <img src="http://via.placeholder.com/250x250" alt="" class="media-object"> </a> </div>
								<div class="media-body">
									<h4 class="media-heading">Lucky Sans<br>
										<small><i class="fa fa-clock-o"></i> Yesterday, 2:00 am</small> </h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. </p>

									<ul class="nav nav-pills pull-left ">
										<li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> 2015</a></li>
										<li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i> 25</a></li>
										<li><a href="" title=""><i class="glyphicon glyphicon-share-alt"></i> 15</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12 commentsblock border-top">
							<div class="media">
								<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="http://via.placeholder.com/250x250" class="media-object"> </a> </div>
								<div class="media-body">
									<h4 class="media-heading">Astha Smith</h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
								</div>
							</div>
							<div class="media">
								<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="http://via.placeholder.com/250x250" class="media-object"> </a> </div>
								<div class="media-body">
									<h4 class="media-heading">Lucky Sans</h4>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
									<div class="media">
										<div class="media-left"> <a href="javascript:void(0)"> <img alt="64x64" src="http://via.placeholder.com/250x250" class="media-object"> </a> </div>
										<div class="media-body">
											<h4 class="media-heading">Astha Smith</h4>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
	</div>
	</div>


</body>

</html>
