<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- PAGE settings -->
	<link rel="icon" href="/static/home2/titanhead_logo.png">
  <link rel="stylesheet" href="/static/home2/css/titan-trading.css">  
  <title>Sell Page</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/home2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link rel ="stylesheet" href="/static/home2/css/small-business.css" type="text/css">
  <link rel="stylesheet" href="/static/sellform/css/tableform.css" type="text/css"/>
  <link rel="stylesheet" href="/static/createleague/css/wireframe.css"> 

</head>
<body background = "/static/home2/city13.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/aboutus">About Us</a>
              <a class="dropdown-item" href="/mission">Our Mission</a>
              <a class="dropdown-item" href="/faq">FAQ</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">UserID</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/settings">Settings</a>
                <a class="dropdown-item" href="/logout">Log Out</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row my-5">
      <div class="col-lg-12">
      <form role="form" action="/submitSell" method="post" class="r-form">
      <h2>Sell Form</h2>
      <div class="row my-3"></div>
      <div id="billing-info" class="row">
        <div class="col-sm-7 form-group">
          <h5>Stock Ticker</h5>
          <label class="sr-only" for="r-form-first-name">{{ form.ticker.label_tag }}</label>
          <input data-mirror type="text" name = "ticker" class="form-control" placeholder="GOOGL" id="ticker"/>
          <span class="error small text-danger"></span>

          <h5>Number of Shares</h5>
          <label class="sr-only" for="r-form-first-name">{{ form.shares.label_tag }}</label>
          <input type="email" class="form-control" name = "shares" placeholder="0" id = "shares"/>
          <span class="error small text-danger"></span>

          <h4 class="mb-12 text-secondary">Price</h4>
          <!--Radio group-->
          <div class="row">
              <div class = "col-sm-3">
              <input name="group103" type="radio" class="with-gap" id="radio109">
              <label for="radio109">Market</label>
              </div>
          </div>

          <div class="row">
                <div class = "col-sm-3">
                <input name="group103" type="radio" class="with-gap" id="radio110" checked>
                <label for="radio110">Limit</label>
                </div>

                <div class = "col-sm-8">
                <input data-mirror type="text" class="form-control" placeholder="Price Limit"/>
                <span class="error small text-danger"></span>
              </div>
          </div>

          <div class="row">
            <!--<div class="form-check radio-pink-gap">-->
                <div class = "col-sm-3">
                <input name="group103" type="radio" class="with-gap" id="radio111">
                <label for="radio111">Stop</label>
                </div>

                <div class = "col-sm-8">
                <input data-mirror type="text" class="form-control" placeholder="Stop Limit"/>
                <span class="error small text-danger"></span>
                </div>
            <!--</div>-->
          </div>
          <!--Radio group-->

        </div>

        <div class="col-lg-5">

          <h2>Trade Details</h2>
          <!--<div id="billing-info" class="row">-->
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between">

                  <h6 class="my-0"><b>Stock ticker</b></h6> <small class="text-muted">(number)</small>

                  <span class="text-muted">$12</span> </li>
              <li class="list-group-item d-flex justify-content-between"> <span>Total (USD)</span> <b>$20</b> </li>
            </ul>
          <!--</div>-->

          </div>
      </div>

      <div class="row my-5"><button type="button" class="btn btn-success btn-block btn-large">Submit</button></div>
      </form>
      </div>
    </div>

    </div>
  </div>


  <!-- Footer -->
	<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-1">
          <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
          <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="/home">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="/faq">FAQ</a>
              </li>
              <li class="list-inline-item">
                <a href="/aboutus">About Us</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/home2/vendor/jquery/jquery.min.js"></script>
  <script src="/static/home2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
