<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>FAQ</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/createleague/css/wireframe.css"> 
	<!-- Custom styles for this template -->
	<link href="/static/faq/css/faq-main.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/home2/css/titan-trading.css">  
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/home2/city5.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
<div class="background-shade">
  <!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/aboutus">About Us</a>
							<a class="dropdown-item" href="/mission">Our Mission</a>
							<a class="dropdown-item" href="/faq">FAQ</a>
						</div>
					</li>
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">UserID</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/profile">Profile</a>
								<a class="dropdown-item" href="/settings">Settings</a>
								<a class="dropdown-item" href="/logout">Log Out</a>
							</div>
						</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<br><br><br>

  <!-- Page Content -->
  <div class="container">

		
  </div>
	
	  <!-- Footer -->
		<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
      <div class="container">
        <div class="row">
          <div class="col-md-12 my-1">
            <p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                  <a href="/home">Home</a>
                </li>
                <li class="list-inline-item">
                  <a href="/faq">FAQ</a>
                </li>
                <li class="list-inline-item">
                  <a href="/aboutus">About Us</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </footer>

</body>

</html>

