<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>Shop</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/createleague/css/wireframe.css">
	<!-- Custom styles for this template -->
	<link href="/static/faq/css/faq-main.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/home2/css/titan-trading.css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/shop/img/skyline.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
<div >
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home</a>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item">
						<a class="nav-link" href="/shop">Shop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					{% endif %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/aboutus">About Us</a>
							<a class="dropdown-item" href="/mission">Our Mission</a>
							<a class="dropdown-item" href="/faq">FAQ</a>
						</div>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/profile">Profile</a>
								<a class="dropdown-item" href="/settings">Settings</a>
								<a class="dropdown-item" href="/logout_view">Log Out</a>
							</div>
						</li>
						{% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Login</a>
            </li>
          {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<br><br><br>

  <!-- Page Content -->
	<div class="container" style="background-color:rgba(211,211,211,0.9);border-radius:1rem">

		<h1 class="my-4 text-center text-lg-center "><br>The Titan Shop</h1>
		<hr>

		<div class="row text-center text-lg-left">

			<!-- Item 1 -->
			<div class="col-md-4 col-xs-6">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item1modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/titancoin.png" alt="">
						<br>
						<h3>100 Titan Coin Pack</h3>
				</button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item1modal" tabindex="-1" role="dialog" aria-labelledby="item1modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item1modal">Item #1</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/1/" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="http://placehold.it/500x900" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>1 Dollar is equal to 100 Titan Coins</p>
													
													<p>100 Titan Coins</p>
													<label for="quantity"></label>
													<input type="number" name="quantity" min="1" max="5">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
										<button type="submit" class="btn btn-primary">Yes</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

	<!-- Item 1 -->
			<div class="col-md-4 col-xs-6">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item1modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/titancoin.png" alt="">
						<br>
						<h3>500 Titan Coin Pack</h3>
				</button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item1modal" tabindex="-1" role="dialog" aria-labelledby="item1modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item1modal">Item #1</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/2" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="http://placehold.it/500x900" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>1 Dollar is equal to 100 Titan Coins</p>
													
													<p>500 Titan Coins</p>
													
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary">Purchase</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Item 1 -->
			<div class="col-md-4 col-xs-6">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item1modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/titancoin.png" alt="">
						<br>
						<h3>1000 Titan Coin Pack</h3>
				</button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item1modal" tabindex="-1" role="dialog" aria-labelledby="item1modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item1modal">Item #1</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/3" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="http://placehold.it/500x900" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>1 Dollar is equal to 100 Titan Coins</p>
													
													<p>1000 Titan Coins</p>
													
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary">Purchase</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


				<!-- Item 1 -->
			<div class="col-md-4 col-xs-6" style="margin-top:50px">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item1modal"><a href ="/createaipage">
				<img class="img-fluid img-thumbnail" src="/static/home2/ai.jpg" alt="">
						<br>
						<h3 style="color:#fff">Purchase AI</h3>
				</a></button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item1modal" tabindex="-1" role="dialog" aria-labelledby="item1modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item1modal">Item #1</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/4" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="http://placehold.it/500x900" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>1 Dollar is equal to 100 Titan Coins</p>
													
													<p>100 Titan Coin upgra</p>
													<label for="quantity"></label>
													<input type="number" name="quantity" min="1" max="5">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
										<button type="submit" class="btn btn-primary">Yes</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Item 5 -->
			<div class="col-md-4 col-xs-6" style="margin-top:50px">
				<button style="background-color: rgba(12, 106, 165, 0.6)"class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item5modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/ai.jpg" alt="">
						<br>
						<h3>Item 5 description</h3>						
				</button>
				<!-- Item 5 Modal -->
				<div class="modal fade" id="item5modal" tabindex="-1" role="dialog" aria-labelledby="item5modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item1modal">Item #5</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="http://placehold.it/500x900" alt="">
										</div>
										<div class="col-md-7">
													<p>Here is a description of the item.</p>

													<p>Price: </p>

													<p>Quantity:</p>
													<label for="quantity"></label>
													<input type="number" name="quantity" min="1" max="5">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
										<button type="submit" class="btn btn-primary">Yes</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Item 6 -->
			<div class="col-md-4 col-xs-6" style="margin-top:50px">
				<button style="background-color: rgba(12, 106, 165, 0.6)"class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item6modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/ai.jpg" alt="">
						<br>
						<h3>Item 6 description</h3>						
				</button>
				<!-- Item 6 Modal -->
				<div class="modal fade" id="item6modal" tabindex="-1" role="dialog" aria-labelledby="item6modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item1modal">Item #6</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="http://placehold.it/500x900" alt="">
										</div>
										<div class="col-md-7">
													<p>Here is a description of the item.</p>
													
													<p>Price: </p>

													<p>Quantity:</p>
													<label for="quantity"></label>
													<input type="number" name="quantity" min="1" max="5">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
										<button type="submit" class="btn btn-primary">Yes</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

	<br><br>
	</div>
	
	<br><br><br>

	<!-- Footer -->
	<footer class="py-2 filter-dark" style="background-color: rgba(81,81,81,0.9)">
		<div class="container">
			<div class="row">
				<div class="col-md-12 my-1">
					<p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
					<ul class="list-inline text-center">
						<li class="list-inline-item">
								<a href="/home">Home</a>
							</li>
							<li class="list-inline-item">
								<a href="/faq">FAQ</a>
							</li>
							<li class="list-inline-item">
								<a href="/aboutus">About Us</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</footer>
</div>
</body>

</html>
