<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
  <title>Shop</title>

  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/createleague/css/wireframe.css">
	<!-- Custom styles for this template -->
	<link href="/static/faq/css/faq-main.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/home2/css/titan-trading.css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body background = "/static/shop/img/skyline.jpg" style = "background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
<div >
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home</a>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item">
						<a class="nav-link" href="/shop">Shop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dashboard">Dashboard</a>
					</li>
					{% endif %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/aboutus">About Us</a>
							<a class="dropdown-item" href="/mission">Our Mission</a>
							<a class="dropdown-item" href="/faq">FAQ</a>
						</div>
					</li>
					{% if request.user.is_authenticated%}
					<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{request.user.username}}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/profile">Profile</a>
								<a class="dropdown-item" href="/settings">Settings</a>
								<a class="dropdown-item" href="/logout_view">Log Out</a>
							</div>
						</li>
						{% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Login</a>
            </li>
          {% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<br><br><br>

  <!-- Page Content -->
	<div class="container" style="background-color:rgba(211,211,211,0.9);border-radius:1rem">

		<h1 class="my-4 text-center text-lg-center "><br>The Titan Shop</h1>
		<hr>

		<div class="row text-center text-lg-left">

			<!-- Item 1 -->
			<div class="col-md-4 col-xs-6">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item1modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/titancoin.png" alt="">
						<br>
						<h3>100 Titan Coin Pack</h3>
				</button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item1modal" tabindex="-1" role="dialog" aria-labelledby="item1modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item1modal">Item #1</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/1/" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="/static/home2/titancoin500x700.png" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>1 Dollar is equal to 100 Titan Coins</p>
													
													<p>100 Titan Coins</p>
							
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary" onClick="window.open('http://paypal.me/TitanTrading1/1');">Purchase</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

	<!-- Item 1 -->
			<div class="col-md-4 col-xs-6">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item2modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/titancoin.png" alt="">
						<br>
						<h3>500 Titan Coin Pack</h3>
				</button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item2modal" tabindex="-1" role="dialog" aria-labelledby="item2modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item2modal">Item #1</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/2/" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="/static/home2/titancoin500x700.png" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>1 Dollar is equal to 100 Titan Coins</p>
													
													<p>500 Titan Coins</p>
													
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary" onClick="window.open('http://paypal.me/TitanTrading1/5');">Purchase</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Item 1 -->
			<div class="col-md-4 col-xs-6">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item3modal">
						<img class="img-fluid img-thumbnail" src="/static/home2/titancoin.png" alt="">
						<br>
						<h3>1000 Titan Coin Pack</h3>
				</button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item3modal" tabindex="-1" role="dialog" aria-labelledby="item3modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item3modal">TitanCoin Pack</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/3/" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="/static/home2/titancoin500x700.png" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>1 Dollar is equal to 100 Titan Coins</p>
													
													<p>1000 Titan Coins</p>
													
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary" onClick="window.open('http://paypal.me/TitanTrading1/10');">Purchase</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


				<!-- Item 1 -->
			<div class="col-md-4 col-xs-6" style="margin-top:50px">
				<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item4modal">
				<img class="img-fluid img-thumbnail" src="/static/home2/ai.jpg" alt="">
						<br>
						<h3 style="color:#fff">Purchase AI</h3>
				</button>
				<!-- Item 1 Modal -->
				<div class="modal fade" id="item4modal" tabindex="-1" role="dialog" aria-labelledby="item4modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item4modal">League AI Upgrade</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/4/" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="/static/home2/ai500x700.jpg" alt="">
										</div>
										<div class="col-md-7">
													<p>Use Titan Coins to purchase game upgrades!</p>

													<p>AI League Upgrade</p>
													
													<p>100 Titan Coin upgrade</p>

										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary">Purchase</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

				<!-- Item 1 -->
				<div class="col-md-4 col-xs-6" style="margin-top:50px">
					<button style="background-color: rgba(12, 106, 165, 0.6)" class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item5modal">
					<img class="img-fluid img-thumbnail" src="/static/shop/img/sms.jpg" alt="">
							<br>
							<h3 style="color:#fff">Purchase SMS</h3>
					</button>
					<!-- Item 1 Modal -->
					<div class="modal fade" id="item5modal" tabindex="-1" role="dialog" aria-labelledby="item5modal" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="item5modal">Purchase SMS functionality</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form role="form" action="/submitShop/5/" method="post">
										<div class="row">
											<div class="col-md-5">
												<img class="img-fluid img-thumbnail" src="/static/shop/img/sms500x700.jpg" alt="">
											</div>
											<div class="col-md-7">
														<p>Text Message Upgrades</p>
	
														<p>Be able to submit transactions through text!</p>
														
														<p>100 Titan Coin upgrade</p>
														<p>Input phone number:</p>
														<label for="Phone Number"></label>
														<input type="number" name="Phone Number">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-primary">Purchase</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Item 6 -->
			<div class="col-md-4 col-xs-6" style="margin-top:50px">
				<button style="background-color: rgba(12, 106, 165, 0.6)"class="btn btn-lg btn-block btn-success" type="button" class="btn btn-primary" data-toggle="modal" data-target="#item6modal">
						<img class="img-fluid img-thumbnail" src="/static/shop/img/donate.jpg" alt="">
						<br>
						<h3>Donate to us!</h3>						
				</button>
				<!-- Item 6 Modal -->
				<div class="modal fade" id="item6modal" tabindex="-1" role="dialog" aria-labelledby="item6modal" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="item6modal">Item #6</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form role="form" action="/submitShop/6/" method="post">
									<div class="row">
										<div class="col-md-5">
											<img class="img-fluid img-thumbnail" src="/static/shop/img/donate500x700.jpg" alt="">
										</div>
										<div class="col-md-7">
													<p>Show your appreciation for us by sending us money!</p>
													
			
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
										<button type="submit" class="btn btn-primary" onClick="window.open('http://paypal.me/TitanTrading1');">Donate</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>

	<br><br>
	</div>
	
	<br><br><br>

	<!-- Footer -->
	<footer class="py-2 " >
		<div class="container">
			<div class="row">
				<div class="col-md-12 my-1">
					<p class="mb-1 text-center text-light">© 2018-2019 Titan Trading</p>
					<ul class="list-inline text-center">
						<li class="list-inline-item">
								<a href="/home">Home</a>
							</li>
							<li class="list-inline-item">
								<a href="/faq">FAQ</a>
							</li>
							<li class="list-inline-item">
								<a href="/aboutus">About Us</a>
							</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</footer>
</div>
</body>

</html>
