<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- PAGE settings -->
		<link rel="icon" href="/static/home2/titanhead_logo_trans.png">
		<title>Become a Titan</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/static/homestyle/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/homestyle/vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/assets/css/form-elements.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
		<link rel="stylesheet" href="/static/assets/css/error.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{ url_for('static',filename='assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body background="/static/homestyle/img/header.jpg" style = "background-repeat:no-repeat; background-size:cover;">
    
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/home"><img src="/static/home2/logo_trans.png" width="125" height="45" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Titan</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/mission">Our Mission</a>
                            <a class="dropdown-item" href="/faq">FAQ</a>
                            <a class="dropdown-item" href="/beginners">Beginners Guide</a>
                        </div>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/profile">UserID</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </nav>
        <!-- Top content -->
        <div class="top-content">
        	<div class="container" style="width:auto">
                	
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2 text" style="margin-left:auto;margin-right: auto">
                        <h1>Join the Titans!</h1>
                        <div class="description">
                        	<p>
                                New to trading? You've come to the right place.
                        	</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 show-forms">
                    	<span class="show-register-form active">Register</span> 
                    	<span class="show-forms-divider">/</span> 
                    	<span class="show-login-form"><a style="color:#fff"href="/login">Login</a></span>
                    </div>
                </div>
                
                <div class="row register-form">
                    <div class="col-sm-6">
						<!-- {% if form.errors %} -->
							<!-- <p>NOT VALID</p> -->
							<!-- {% for errors in form.errors %} -->
								<!-- {{ errors }} -->
							<!-- {% endfor %} -->
						<!-- {% endif %} -->
						<form role="form" action="/submitSignup" method="post" class="r-form">
							{% csrf_token %}
							{{ form.non_field_errors }}
	                    	<div class="form-group">
	                    		<label class="sr-only" for="r-form-first-name">{{ form.username.label_tag }}</label>
	                        	<input type="text" name="username" placeholder="Username..." class="r-form-first-name form-control" id="r-form-first-name">
	                        </div>
	                        <div class="form-group">
	                        	{{ form.password.errors }}
								<label class="sr-only" for="r-form-last-name">{{ form.password1.label_tag }}</label>
	                        	<input type="text" name="password1" placeholder="Password..." class="r-form-last-name form-control" id="r-form-last-name">
	                        </div>
                            <div class="form-group">
								{{ form.password2.errors }}
                                <label class="sr-only" for="r-form-last-name">{{ form.password2.label_tag }}</label>
                                <input type="text" name="password2" placeholder="Confirm Password..." class="r-form-last-name form-control" id="r-form-last-name">
                            </div>
	                        <div class="form-group">
								{{ form.email.errors }}
	                        	<label class="sr-only" for="r-form-email">{{ form.email.label_tag }}</label>
	                        	<input type="text" name="email" placeholder="Email..." class="r-form-email form-control" id="r-form-email">
	                        </div>
	                        <!--<div class="form-group">
	                        	<label class="sr-only" for="r-form-about-yourself">About yourself</label>
	                        	<textarea name="r-form-about-yourself" placeholder="About yourself..." 
	                        				class="r-form-about-yourself form-control" id="r-form-about-yourself"></textarea>
	                        </div> -->
							<input class="btn btn-primary" type="submit" value="Sign Up!" />
						</form>   
                    </div>
                    <div class="col-sm-6 forms-right-icons">
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
							<div class="col-sm-10">
								<h3>Realistic Trading</h3>
								<p>Gain the experience and satisfaction of buying/selling stocks without the risk.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-commenting"></i></div>
							<div class="col-sm-10">
								<h3>Private Leagues</h3>
								<p>Compete with friends and see who can earn the most money in a certain amount of time.</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2 icon"><i class="fa fa-btc" aria-hidden="true"></i></div>
							<div class="col-sm-10">
								<h3>Cryptocurrency</h3>
								<p>Familiarize yourself with the secrets of Cryptocurrency.</p>
							</div>
						</div>
                    </div>
                </div> 
                </div>
                    
        	</div>
        </div>

        <!-- Footer -->
        <!--<footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>Made by <a href="http://azmind.com" target="_blank">AZMIND</a>.</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>-->

        <!-- Javascript -->
        <script src="/static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
        <!--<script src="/static/assets/js/jquery.backstretch.min.js"></script>-->
        <script src="/static/assets/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>